In [13]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import tensorflow as tf
import os
import re
import json
from keras.preprocessing.text import text_to_word_sequence

In [2]:
# Variables 
train_positive_reviews = []
train_negative_reviews = []

test_positive_reviews = []
test_negative_reviews = []

In [3]:
for filename_ in os.listdir('aclImdb/train/pos'):
    with open(os.path.join('aclImdb/train/pos',filename_),'r') as f:
        sentiment = f.read()
        train_positive_reviews.append(sentiment)
    
for filename_ in os.listdir('aclImdb/train/neg'):
    with open(os.path.join('aclImdb/train/neg',filename_),'r') as f:
        sentiment = f.read()
        train_negative_reviews.append(sentiment)
    
for filename_ in os.listdir('aclImdb/test/pos'):
    with open(os.path.join('aclImdb/test/pos',filename_),'r') as f:
        sentiment = f.read()
        test_positive_reviews.append(sentiment)
    
for filename_ in os.listdir('aclImdb/test/neg'):
    with open(os.path.join('aclImdb/test/neg',filename_),'r') as f:
        sentiment = f.read()
        test_negative_reviews.append(sentiment)

In [4]:
train_reviews = train_positive_reviews + train_negative_reviews
test_reviews = test_positive_reviews + test_negative_reviews

In [5]:
train_labels = [0]*len(train_positive_reviews) + [1]*len(train_negative_reviews)
test_labels = [0]*len(test_positive_reviews) + [1]*len(test_negative_reviews)

In [6]:
print 'Number of training reviews: ', len(train_reviews)
print 'Number of testing reviews: ', len(test_reviews)
print 'Number of train labels: ', len(train_labels)
print 'Number of test labels: ', len(test_labels)

Number of training reviews:  25000
Number of testing reviews:  25000
Number of train labels:  25000
Number of test labels:  25000

In [7]:
reviews = train_reviews+test_reviews
labels = train_labels+test_labels

In [8]:
reviews_train_df = pd.DataFrame({'reviews': train_reviews, 'sentiment':train_labels})
reviews_test_df = pd.DataFrame({'reviews': test_reviews, 'sentiment':test_labels})

reviews_train_df = reviews_train_df.sample(frac=1).reset_index(drop=True)
reviews_test_df = reviews_test_df.sample(frac=1).reset_index(drop=True)

In [9]:
# 1 for negative and 0 for positive
print reviews_train_df.head()
print reviews_test_df.head()

                                             reviews  sentiment
0  I watched this film on the Hallmark Channel re...          1
1  OK, a slasher movie. a very, very stupid slash...          1
2  I anticipated the release of the film as much ...          1
3  I'm a fan of arty movies, but regretfully I ha...          1
4  I've seen this movie more than once. It was on...          0
                                             reviews  sentiment
0  An opera diva has an accident, which leaves th...          0
1  There were at least a half dozen silent-film v...          0
2  Of course, how could he. He obviously co-opted...          0
3  Anyone familiar with horror films knows that m...          0
4  The movie takes place during the year 1940 and...          0

In [14]:
def preprocess(sentence):
    list_of_word = text_to_word_sequence(sentence,filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n',
                                               lower=True,
                                               split=" ")
    return list_of_word

In [17]:
reviews_train_df['words_reviews'] = reviews_train_df['reviews'].map(preprocess)
reviews_test_df['words_reviews'] = reviews_test_df['reviews'].map(preprocess)

In [16]:
reviews_train_df.head()

,reviews,sentiment,words_reviews
0,I watched this film on the Hallmark Channel re...,1,"[i, watched, this, film, on, the, hallmark, ch..."
1,"OK, a slasher movie. a very, very stupid slash...",1,"[ok, a, slasher, movie, a, very, very, stupid,..."
2,I anticipated the release of the film as much ...,1,"[i, anticipated, the, release, of, the, film, ..."
3,"I'm a fan of arty movies, but regretfully I ha...",1,"[i'm, a, fan, of, arty, movies, but, regretful..."
4,I've seen this movie more than once. It was on...,0,"[i've, seen, this, movie, more, than, once, it..."

In [18]:
reviews_test_df.head()

,reviews,sentiment,words_reviews
0,"An opera diva has an accident, which leaves th...",0,"[an, opera, diva, has, an, accident, which, le..."
1,There were at least a half dozen silent-film v...,0,"[there, were, at, least, a, half, dozen, silen..."
2,"Of course, how could he. He obviously co-opted...",0,"[of, course, how, could, he, he, obviously, co..."
3,Anyone familiar with horror films knows that m...,0,"[anyone, familiar, with, horror, films, knows,..."
4,The movie takes place during the year 1940 and...,0,"[the, movie, takes, place, during, the, year, ..."